
body {
	margin: 0px;
	font-family: 'ABeeZee', sans-serif;
	font-size: 18px;
	color: #388E8E;
	background-color: #97CEEC;
  background: linear-gradient(top, #97CEEC 0%, #B4CDCD 50%)
  background: -moz-linear-gradient(top, #97CEEC 0%, #B4CDCD 50%)
  background: -webkit-linear-gradient(top, #97CEEC 0%, #B4CDCD 50%)
}

div.main-container {
	width: 940px;
	margin: 10px auto;
}

.error {
  color: red;	
}

a {
  text-decoration: none;
	color: #388E8E;
}

a:hover {
	color: #E0FFFF;
}

div.home-text {
	color: #388E8E;
}

div.selector {
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

div.selector + div.selector {
	margin-top: 20px;
}

label {
	float: left;
	padding-right: 10px;
	padding-top: 5px;
	text-align: right;
	font-size: 16px;
}

select.multi-select {
	height: 125px;	
}

div.page-title {
	color: #388E8E;
	font-size: 25px;
	margin-bottom: 10px;
	margin-top: 10px;
}

div.section {
	padding: 5px;
	background: #080816;	
	border-style: solid;
	border-width: 1px;
	border-color: #008080;
	color: #E0FFFF;
}

div.google-analytics {
	float: left;
	margin-top: 10px;
	height: 350px;
	width: 450px;
}

div.results-area {
	float: right;
	margin-top: 10px;
	height: 350px;
	width: 450px;
}

div.dc-results-area {
	float: right;
	margin-top: 10px;
	height: 350px;
	width: 400px;
}

table.results {
	margin-top: 15px;
	padding-left: 10px;	
	padding-right: 10px;	
	color: #E0FFFF;
}

table.results > tr > td{
}

div.doubleclick-management {
	float: left;
	margin-top: 10px;
	height: 200px;
	width: 500px;
}

div.segments {
	margin-top: 35px;
}

select {
	float: right;
	width: 300px;
	background-color: #E0FFFF;
	height: 25px;
	font-size: 16px;
}

input[type=date] {
	float: right;
	margin-left: 10px;
	width: 140px;
	background-color: #E0FFFF;
	height: 22px;
	font-size: 14px;
	padding-left: 5px;
	border: none;
}

input[type=multiple] {
	background-color: #E0FFFF;
}

input[type=submit] {
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border-style: solid;
	border-color: #008080;
	background: #CC3333;
	font-size: 22px;
	color: #E0FFFF;
/*
	box-shadow: 2px 2px 2px #111111;
	text-shadow: 1px 1px #111111;
*/
}
