
body {
	margin: 0px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #333;
}

nav.header {
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
  background: #B3B3B3;
	border-style: solid;
	border-bottom-width: 2px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-color: #a7a09a;
}

nav.header > ul {
  list-style: none;
	margin: 0px;
	padding: 0px;
}

nav.header > ul > li {
  display: inline;
  padding: 10px;
}

nav.header > ul > li > a {
  text-decoration: none;
  color: #eee;
  border-left: 2px 
	border-solid #fff;
}

nav.header > ul > li > a:hover {
  color: #333;
}

div.main-container {
	width: 1000px;
	margin: 10px;
}

.error {
  color: red;	
}

a {
  text-decoration: none;
}

div.selector + div.selector {
	margin-top: 10px;
}

select {
	width: 300px;
}

label {
	display: block;
	width: 60px;
	float: left;
	padding-right: 10px;
	text-align: right;
	width: 120px;
}

select.multi-select {
	height: 125px;	
}

div.selection-button {
	height: 25px;
	width: auto;
	padding: 5px;
	background: #f5f5f5;	
}

input[type="submit"] {
	width: 125px;
	font-size: 16px;
	font-weight: 125px;
}

div.section {
	padding: 5px;
	background: #f5f5f5;	
	border-style: solid;
	border-width: 1px;
	border-color: #a7a09a;
}

div.account-management {
	position: absolute;
	margin-top: 10px;
	height: 120px;
	width: 500px;
}

div.metric-selection {
	position: absolute;
	margin-top: 150px;
	height: 200px;
	width: 500px;
}

div.results-area {
	margin-left: 520px;
	margin-top: 10px;
	position: absolute;
	height: 340px;
	width: 470px;
}

div.submit-button {
	background: #f5f5f5;	
}

div.doubleclick-management {
	position: absolute;
	margin-top: 10px;
	height: 200px;
	width: 500px;
}
