{% extends "base.html" %}

{% block content %}

<form name="dc-selection" method="post" action="/dc">

<div class="section selection-button">
	DoubleClick Floodlight Query Tool
	<input type="submit" value="SELECT">
</div>

<div class="section doubleclick-management">

	<div class="selector">
		<label>
			Profiles:
		</label>
		<select name="profileId">
			{% for profile in profileList %}
				<option value={{ profile.profileId }}
				{% if profile.profileId == profileId %}
					selected{% endif %}>
				{{ profile.profileId }}
				</option>
			{% endfor %}
		</select>
	</div>

	{% if reportList %}
	<div class="selector">
		<label>
			Reports:
		</label>
		<select name="reportId">
			{% for report in reportList %}
				<option value={{ report.id }} 
				{% if report.id == reportId %}
					selected
				{% endif %}>
					{{ report.id }}
				</option>
			{% endfor %}
		</select>
	</div>
	{% endif %}

	{% if files %}
	<div class="selector">
		<label>
			Files:
		</label>
		<select name="fileId">
			{% for f in files %}
				<option value={{ f.id }}
				{% if f.id == fileId %}
					selected
				{% endif %}>
					{{ f.id }}
				</option>
			{% endfor %}
		</select>
	</div>
	{% endif %}

	{% if fileObj %}
	<div class="selector">
		<label>
			Report URL:
		</label>
		<select name="apiUrl">
			<option value={{ fileObj.apiUrl }}
			{% if fileObj.apiUrl == apiUrl %}
				selected
			{% endif %}>
				{{ fileObj.apiUrl }}
			</option>
		</select>
	</div>
	{% endif %}

</div>

	<div class="section dc-results-area">
	{% if fieldsDict %}
		<table name="results-table" class="results">
			{% for key in fieldsDict %}
			<tr>
				<td>	
					{{ key }}
				</td>
				<td>	
					{{ fieldsDict[key][0] }}	
				</td>
			</tr>
			{% endfor %}
		</table>
	{% endif %}
	</div>

</form>

{% endblock %}
