{% extends "base.html" %}

{% block content %}

<form name="profiles-table" method="post" action="/dc">

	<label>
		Profiles:
		<select name="profileId">
			{% for profile in profileList %}
				<option value={{ profile.profileId }} {% if profile.profileId == profileId %}selected{% endif %}>
					{{ profile.profileId }}
				</option>
			{% endfor %}
		</select>
	</label>

	{% if reportList %}
	<label>
		Reports:
		<select name="reportId">
			{% for report in reportList %}
				<option value={{ report.id }} {% if report.id == reportId %}selected{% endif %}>
					{{ report.id }}
				</option>
			{% endfor %}
		</select>
	</label>
	{% endif %}

	{% if files %}
	<label>
		Files:
		<select name="fileId">
			{% for f in files %}
				<option value={{ f.id }} {% if f.id == fileId %}selected{% endif %}>
					{{ f.id }}
				</option>
			{% endfor %}
		</select>
	</label>
	{% endif %}

	{% if fileObj %}
	<label>
		Report URL:
		<select name="apiUrl">
				<option value={{ fileObj.apiUrl }} {% if fileObj.apiUrl == apiUrl %}selected{% endif %}>
					{{ fileObj.id }}
				</option>
		</select>
	</label>
	{% endif %}

	<br><br>
	<div>
			<input type="submit" value="Select Profile">
	</div>
</form>

{% endblock %}
