{% extends "base.html" %}

{% block content %}

<form name="ga-selection" method="post" action="/ga">

<div class="section selection-button">
	Google Analytics Query Tool
	<input type="submit" value="SELECT">
</div>

<div class="section account-management">

	<div class="selector">
		<label>
			Account:
		</label>
		<select name="accountId">
			{% for account in accountList %}
				<option value={{ account.id }} 
				{% if account.id == accountId %}
					selected
				{% endif %}>
					{{ account.name }}
				</option>
			{% endfor %}
		</select>
	</div>
			
	{% if accountId %}
	<div class="selector">
		<label>
			Property:
		</label>
		<select name="propertyId">
			{% for property in propertyList %}
				<option value={{ property.id }}
				{% if property.id == propertyId %}
					selected
				{% endif %}>
					{{ property.name }}
				</option>
			{% endfor %}
		</select>
	</div>
	{% endif %}

	{% if propertyId %}
	<div class="selector">
		<label>
			Profile:
		</label>
		<select name="profileId">
			{% for profile in profileList %}
				<option value={{ profile.id }}
				{% if profile.id == profileId %}
					selected
				{% endif %}>
					{{ profile.name }}
				</option>
			{% endfor %}
		</select>
	</div>
	{% endif %}

</div>

{% if profileId %}

<div class="section metric-selection">

	<div class="start-date">
		<label>
			Start Date:
		</label>
		<input type="date" name="startDate">
	</div>

	<div class="end-date">
		<label>
			End Date:
		</label>
		<input type="date" name="endDate">
	</div>

	<div class="selector segments">
		<label>
			Segments:
		</label>
		<select name="segmentId">
		{% for segment in segmentList %}
			<option value="{{ segment.id }}">
				{{ segment.name }}
			</option>
		{% endfor %}
		</select>
	</div>

	<div class="selector">
		<label>
			Metrics:
		</label>
		<select name="metric" multiple="multiple" class="multi-select">
		{% for metric in metrics %}
			<option value="{{ metric }}">
				{{ metric }}
			</option>
		{% endfor %}
		</select>
	</div>

</div>

{% endif %}

{% if metricList %}
	<div class="section results-area">
		<table name="results-table">
			{% for key in results %}
			<tr>
				<td>	
					{{ key.split(':')[1] }}:
				</td>
				<td>	
					{{ results[key] }}	
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endif %}

</form>

{% endblock %}
