{% extends "base.html" %}

{% block content %}

<form name="accounts-table" method="post" action="/ga">

	<label>
		Account:
		<select name="accountId">
			{% for account in accountList %}
				<option value={{ account.id }} {% if account.id == accountId %}selected{% endif %}>
					{{ account.name }}
				</option>
			{% endfor %}
		</select>
	</label>
			
	{% if propertyList %}
	<label>
		Property:
		<select name="propertyId">
			{% for property in propertyList %}
				<option value={{ property.id }} {% if property.id == propertyId %}selected{% endif %}>
					{{ property.name }}
				</option>
			{% endfor %}
		</select>
	</label>
	{% endif %}

	{% if profileList %}
	<label>
		Profile:
		<select name="profileId">
			{% for profile in profileList %}
				<option value={{ profile.id }} {% if profile.id == profileId %}selected{% endif %}>
					{{ profile.name }}
				</option>
			{% endfor %}
		</select>
	</label>
	{% endif %}

{% if profileId %}
	<label>
		Date Range:
		<select name="dateRange">
			<option value=1>Last Week</option>
			<option value=2>Last 30 Days</option>
			<option value=3>Last 90 Days</option>
		</select>
	</label>

	<div>
		Metrics:
		{% for metric in metrics %}
			<input type="checkbox" name="metric" value="{{ metric }}">
			<label>
				{{ metric }}
			</label>
		{% endfor %}
	</div>

	<div>
		Advanced Segements:
		{% for segment in segmentList %}
			<label>
				{{ segment.name }}
				<input type="radio" name="segmentId" value="{{ segment.id }}">
			</label>
		{% endfor %}
	</div>

{% endif %}

{% if metricList %}

	<table name="metric-table">
		{% for key in results %}
		<tr>
			<td>	
				{{ key.split(':')[1] }}:
			</td>
			<td>	
				{{ results[key] }}	
			</td>
		</tr>
		{% endfor %}
	</table>

{% endif %}

	<div>
			<input type="submit" value="SELECT">
	</div>

</form>

{% endblock %}
