{% extends "base.html" %}

{% block content %}

<div class="page-title">Welcome to the Dashqy!</div>

<div class="home-text">
	<p>
This application supports two query tools for querying OLAP systems.
One for querying Google Analytics Reporting and the other for querying DoubleClick 
Floodlight Reporting. These tools make use of the Google Analytics Core Reporting API
and the DFA Reporting API. The first time either tool is loaded you will be prompted
to allow the app access to your GA and DFA data, as well as Google Cloud Storage.
The DFA Query Tool is still under construction, it cannot be used to query for metrics
at this time.
	</p>
	<p>
		Use the navigation header to select a query tool.
	</p>
	<p>
		Please send any questions, concerns, or feedback to:
		<a href="mailto:devskag@gmail.com">
			devskag@gmail.com
		</a>
	</p>
</div>

{% endblock %}
